body {
    color: #151A10;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 700px;
    padding: 2rem;
    line-height: 1.6;
    background-color: #E3F7BA;
}

.spc {
    font-style: italic;
}

a {
    color: #577538;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #E3F7BA;
        background-color: #151A10;
    }

    a {
        color: #577538;
    }
}